<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
</head>
<body>
    <h1>Welcome to The Shop!</h1>
    {% if 'username' not in session %}
        <form action="/login" method="POST">
            Username <input type="text" name="username"> 
            Password <input type="text" name="password"> 
        <input type="submit" name="submit"> 
        </form>
    <h3>Don't have an account? Create one!</h3>
    {% endif %}
    <h2>Select a category to view specific products</h2>
    <form action="/products" method="POST" name="speccat">
        <select name="category_select">
            {% for category in categories %}
                <option value="{{ category['category'] }}">{{ category['category'] }}</option>
            {% endfor %}
        </select>
        <input type="submit">
    </form> 
    <h3>Search for a specific product</h3>
    <form action="/search" method="POST" name="specitem">
        <input placeholder="Search Products" type="text" name="search"> 
    </form> 
    {% for prod in products %}
        <li>{{ prod['name'] }}: {{ prod['description'] }} - ${{ prod['price'] }}: {{ prod['stock'] }} left</li>
        {% if 'username' in session and prod['stock'] > 0 %}
            <form action="/cart" method="POST">
                <button name="add" value={{ prod['id'] }}>Add to Cart</button>
            </form>
        {% elif prod['stock'] <= 0 %}
            <p>OUT OF STOCK</p>
        {% endif %} 
    {% endfor %}

    {% if 'username' in session %}
        <a href="/cart">View Cart</a>
    {% endif %}

</body>
</html>